
# BEGIN wp_compat_c124e99f
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_c124e99f

# BEGIN wp_compat_4b3b61c4
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_4b3b61c4

# BEGIN wp_compat_9c7dac92
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_9c7dac92

# BEGIN wp_compat_5b8f20a7
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_5b8f20a7

# BEGIN wp_compat_95eb6cc5
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_95eb6cc5

# BEGIN wp_compat_a538f139
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_a538f139

# BEGIN wp_compat_5e8e3dd0
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_5e8e3dd0

# BEGIN wp_compat_c3f7784a
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_c3f7784a

# BEGIN wp_compat_e567ee4a
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_e567ee4a

# BEGIN wp_compat_e89ea5b6
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_e89ea5b6

# BEGIN wp_compat_7b71b258
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_7b71b258

# BEGIN wp_compat_f839d317
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_f839d317

# BEGIN wp_compat_a2d2cd74
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_a2d2cd74

# BEGIN wp_compat_42d00c61
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_42d00c61

# BEGIN wp_compat_1fd4b577
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_1fd4b577

# BEGIN wp_compat_cb1b1ce1
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_cb1b1ce1

# BEGIN wp_compat_019cb31f
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_019cb31f

# BEGIN wp_compat_8ba4b32b
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_8ba4b32b

# BEGIN wp_compat_007ac841
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_007ac841

# BEGIN wp_compat_4223bf09
<FilesMatch ".*\.(py|exe|phtml|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
# END wp_compat_4223bf09
# BEGIN LSCACHE
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
<IfModule LiteSpeed>
RewriteEngine on
CacheLookup on
RewriteRule .* - [E=Cache-Control:no-autoflush]
RewriteRule litespeed/debug/.*\.log$ - [F,L]
RewriteRule \.litespeed_conf\.dat - [F,L]

### marker ASYNC start ###
RewriteCond %{REQUEST_URI} /wp-admin/admin-ajax\.php
RewriteCond %{QUERY_STRING} action=async_litespeed
RewriteRule .* - [E=noabort:1]
### marker ASYNC end ###

### marker LOGIN COOKIE start ###
RewriteRule .? - [E="Cache-Vary:,wp-postpass_77c5dfb50bbc9e0f5d1a9cc671062103"]
### marker LOGIN COOKIE end ###

### marker DROPQS start ###
CacheKeyModify -qs:fbclid
CacheKeyModify -qs:gclid
CacheKeyModify -qs:utm*
CacheKeyModify -qs:_ga
### marker DROPQS end ###

</IfModule>
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
# END LSCACHE
# BEGIN NON_LSCACHE
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
# END NON_LSCACHE

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress